img {
  float: left;
  width: 20%;
  margin: 12px;
  margin-left: 60px;
  padding: 6px;
}

body {
  background-color: royalblue;
}

.column {
  width: 250px;
  float: left;
}

.sidebar {
  width: 25%;
  float: right;
  background-color: red;
  padding: 10px;
  margin: 12px;
  border: 2px solid black;
  margin-right: 12px;
}

.green-column {
  border: 2px solid black;
  background-color: green;
  margin-right: 12px;
  padding: 6px;

}

.yellow-column {
  border: 2px solid black;
  background-color: yellow; 
  margin-right: 12px;
  padding: 6px;
}

