img {
  float: left;
  width: 20%;
  margin: 20px;
}

body {
  background-color: royalblue;
}

.column {
  width: 300px;
  float: left;
}

.sidebar {
  width: 25%;
  float: right;
  background-color: red;
  padding: 10px;
  margin: 10px;
}